* { margin: 0; padding: 0; }
body{
  background-color: rgb(255, 255, 255);
}
.book__modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
  }
  .book__modal-content{
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    width: 50vw;
    transform: scale(0.5);
    transition: all 400ms ease;
  }
  .book__modal.active{
    opacity: 1;
    pointer-events: all;
  }
  .book__modal-content.active{
    transform: scale(1);
  }
  .book__container{
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .book__title{
    margin-top: 13vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
  }
  .book__button-add{
    width: 30vw;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid black;
    cursor: pointer;
    font-size: 18px;
  }
  .book__button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book__items-rec{
    margin-top: 3vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border:2px solid black ;
  }
  .book__items{
    padding-bottom: 10px;
    border-bottom:2px solid black ;
    margin-bottom: 15px;
  }
  .book__title-rec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .book__item{
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
  }
  .book__delite-btn{
    width: 20vw;
    height: 3vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 500;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
  }

.book__input-button{
  width: 100%;
margin-top: 10px;
margin-bottom: 10px;
height: 25px;
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-size: 16px;
cursor: pointer;
}
.book__input{
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
height: 25px;
font-size: 16px;
}